root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = 0

[{src,scripts}/**.{ts,json,js}]
ij_typescript_spaces_within_interpolation_expressions = true
ij_typescript_spaces_within_imports = true
ij_any_spaces_within_array_initializer_braces = true

